.utility .animated-checkbox > label {
    font-size: 0.8em !important;
}
/*.utility p {
    font-size: 0.8em !important;
}*/

.material-half-bg .cover {
    background-color: var(--bona-red) !important;
    height: 50vh;
}

.link-color:link {
    color: var(--primary) !important;
}

.primary-bona-color {
    color: var(--bona-red) !important;
}

.btn-bona-background {
    background-color: var(--bona-red) !important;
}

:root {
    --bona-red: #FF0019;
    /*--bona-red: #ff0218;*/
}
